<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alejandro.android.femina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <application
        android:name=".Servicio.App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:targetApi="m">
        <activity android:name=".Servicio.CerrarNoti"></activity>
        <activity android:name=".GestionImagen.ViewImage"></activity>
        <activity android:name=".GestionImagen.GestionarImagen"></activity>
        <activity android:name=".Pantallas_exteriores.Registrarse"></activity>
        <activity android:name=".Pantallas_exteriores.Ingresar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity-alias
            android:label="Femina"
            android:icon="@mipmap/ic_femina"
            android:name=".Femina"
            android:enabled="true"
            android:targetActivity=".Pantallas_exteriores.Ingresar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.multidex.MultiDexApplication"
                android:value=".Femina" />
        </activity-alias>

        <activity-alias
            android:label="Horoscopo"
            android:icon="@mipmap/ic_horoscopo"
            android:name=".Horoscopo"
            android:enabled="false"
            android:targetActivity=".Pantallas_exteriores.Ingresar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.multidex.MultiDexApplication"
                android:value=".Horoscopo" />
        </activity-alias>

        <activity-alias
            android:label="Moda"
            android:icon="@mipmap/ic_moda"
            android:name=".Moda"
            android:enabled="false"
            android:targetActivity=".Pantallas_exteriores.Ingresar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.multidex.MultiDexApplication"
                android:value=".Moda" />
        </activity-alias>

        <activity-alias
            android:label="Peluqueria"
            android:icon="@mipmap/ic_peluqueria"
            android:name=".Peluqueria"
            android:enabled="false"
            android:targetActivity=".Pantallas_exteriores.Ingresar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.multidex.MultiDexApplication"
                android:value=".Peluqueria" />
        </activity-alias>
        <activity-alias
            android:label="Recetas"
            android:icon="@mipmap/ic_recetas_"
            android:name=".Recetas"
            android:enabled="false"
            android:targetActivity=".Pantallas_exteriores.Ingresar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.support.multidex.MultiDexApplication"
                android:value=".Recetas" />
        </activity-alias>

        <service android:name=".Servicio.Servicio" />

    </application>

</manifest>
